<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<%= favicon_link_tag 'favicon.ico' %>
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/images/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-57x57.png" sizes="57x57">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-60x60.png" sizes="60x60">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-72x72.png" sizes="72x72">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-76x76.png" sizes="76x76">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-114x114.png" sizes="114x114">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-120x120.png" sizes="120x120">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-144x144.png" sizes="144x144">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-152x152.png" sizes="152x152">
<link rel="icon" type="image/png" href="/images/favicons/apple-touch-icon-180x180.png" sizes="180x180">
<link href='https://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= yield :head %>