<div class="hero-image">
	<div id="hero1"><%= image_tag "hero_a.jpg" %></div>
	<div id="hero2"><%= image_tag "hero_b.jpg" %></div>
	<div id="hero3"><%= image_tag "hero_c.jpg" %></div>
	<div id="hero4"><%= image_tag "hero_d.jpg" %></div>
	<div id="hero5"><%= image_tag "hero_e.jpg" %></div>
	<div id="hero6"><%= image_tag "hero_f.jpg" %></div>
</div>
<div class="fly-in-steps">
   <div class="fly-in-step step-one"><a href="/shop">APPAREL</a></div>
   <div class="fly-in-step step-two"><a href="/shop">BOX</a></div>
   <div class="fly-in-step step-three"><a href="/shop">VIDEO</a></div>
   <div class="fly-in-step step-four"><a href="/shop">MESSAGE</a></div>
   <div class="fly-in-step step-five"><a href="/shop">SHOP NOW</a></div>
</div>
<div class="arrow"></div>