<div class="hero-image"><%= image_tag "bbjo_hero.jpg" %></div>
<div class="arrow"></div>
<div id="how-it-works" class="row">
   <div class="col-md-8 purpose-wrapper">
      <h1>Clothing with purpose</h1>
      <p>What if you could make someone's day, with something that will last?</p>
      <p>Branded by J. Otto was founded for the moments that matter. We create well-crafted athletic apparel with a Bible verse on the inside, reminding the one wearing it that they are loved and thought of. Whether buying for yourself, a loved one, or a stranger – the experience is designed to leave a mark.<br/><strong>A mark that matters.</strong></p>
   </div>
   <div class="home-background-image"><%= image_tag "wood_logo.jpg" %></div>
   <h1 id="how-it-works-title">HOW IT WORKS:</h1>
</div>
<div class="home-section section-one">
   <div class="home-section-text">
      <h2>01 SELECT A GARMENT</h2>
      <p>Choose one of the 9 styles with a variety of customization options. Find the one that suits you or your loved one best.</p>
   </div>
   <div class="img-wrapper">
      <div class="home-img img-one"><%= image_tag "thejennifer.jpg" %></div>
      <div class="home-img img-two"><%= image_tag "thepaul.jpg" %></div>
      <div class="home-img img-three"><%= image_tag "thecalli.jpg" %></div>
      <div class="home-img img-four"><%= image_tag "thelee.jpg" %></div>
      <div class="home-img img-five"><%= image_tag "thekatie.jpg" %></div>
   </div>
</div>
<div class="home-section section-two">
   <div class="home-section-text">
      <h2>02 SELECT A PACKAGE</h2>
      <p>Choose from a beautiful white keepsake box or upgrade to a stunning, hand-crafted cedar box for just a bit more.</p>
   </div>
   <div class="home-background-image"><%= image_tag "waterfall.jpg" %></div>
   <div class="img-wrapper">
      <div class="home-img img-one"><%= image_tag "box-white.jpg" %></div>
      <div class="home-img img-two"><%= image_tag "box-cedar.jpg" %></div>
   </div>
</div>
<div class="home-section section-three">
   <div class="home-section-text">
      <h2>03 SELECT A VIDEO</h2>
      <p>Choose from a library of videos created to encourage and inspire whether it’s time to celebrate, grieve, or anything in between.</p>
   </div>
   <div class="img-wrapper">
      <div class="home-img img-one"><%= image_tag "thankyou.jpg" %></div>
      <div class="home-img img-two"><%= image_tag "encouragement.jpg" %></div>
      <div class="home-img img-three"><%= image_tag "accomplishment.jpg" %></div>
      <div class="home-img img-four"><%= image_tag "congratulations.jpg" %></div>
      <div class="home-img img-five"><%= image_tag "love.jpg" %></div>
   </div>
</div>
<div class="home-section section-four">
   <div class="home-section-text">
      <h2>04 WRITE A MESSAGE</h2>
      <p>Combined with a thoughtful gift, your words have the power to leave a mark that lasts beyond a few moments.</p>
   </div>
   <a id="get-started-link" href="/shop">GET STARTED</a>
   <div class="home-background-image">
      <div class="shaded-overlay"></div>
      <%= image_tag "book.jpg" %>
   </div>
</div>